body {
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
  }
  
  .nav {
    background-color: cadetblue;
    color: rgb(226, 207, 207);
  }
  
  .nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 0px;
  }
  
  .nav ul li {
    padding: 16px;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid black;
    transition: background-color 0.2s;
  }
  
  .nav ul li:hover {
    background-color: black;
  }
  
  .image-area {
    background-image:url('images/b.png');
    background-color:black;
    background-position: center center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  .centered-container {
    max-width: 1020px;
    margin: 0px auto;
    padding: 0px 16px;
  }
  
  .image-text {
    text-align: center;
    background-color: black;
    color: rgb(236, 215, 215);
    font-size: 2.5rem;
    padding-top: 0px;
  }
  
  .intro-text {
    color: rgb(17, 1, 1);
    font-size: 1.5rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .single-service {
    text-align: center;
    margin-bottom: 32px;
  }
  
  .single-service p {
    padding: 0px 16px;
  }
  
  @media screen and (min-width: 700px) {
    .nav ul {
      text-align: right;
    }
  
    .nav ul li {
      display: inline-block;
      border-bottom: 0px;
      border-left: 1px solid black;
      text-align: left;
    }
  
    .single-service {
      width: 50%;
      float: left;
    }
  }

  li {list-style-type: none;
    font-size: 16pt;
    }
    .mail {
    margin: auto;
    padding: 10px;
    position:relative;
    margin-top: 700px;
    padding-bottom: 50px;
    width: 600px;
    height: 200px;
    border-radius: 10px;
    background : #D8F1F8;
    border: 0px solid  black;
    }



     h2 {
    margin-bottom: 0px;
    text-align:center;
    height: 50px;
    line-height:20px;
   
    position: relative;
    }

    form{
      margin:0 auto;
      /* background-color: black; */
      align-items: center;
    }

    .form-fields{
      /* background:red; */
      width:70%;
      margin:0 auto;
    }

    input {
    font-size: 20pt;
   
    }
    input:focus, textarea:focus{
    background-color: 
    lightyellow;
    }
    .submit {
    font-size: 10px;
    width: 100%;
    /* background-color: red; */
    }

    .submit-btn{
      position: relative;
      left:110px;
      font-size: 22px;;
    }
    .rq {
    color: 
    #FF0000;
    font-size: 10pt;
    }
  